body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 1;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

header > h1 {
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.button {
  border: none;
  padding: 1rem 1rem;
  border-radius: 6px;

  color: white;
  background: #403D39;
  
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.button.button-primary {
  background: #EB5E28;
  box-shadow: 0px 5px 10px 2px rgb(235 94 40 / .5);
}

.button.button-secondary {
  border: 2px solid #403D39;
  background: transparent;
}

footer {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
}

footer a {
  font-weight: bold;
  text-decoration: underline;
}